<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179951568435-9vl8jkvj5eust6tjh23eti893u4ea2r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179951568435-9vl8jkvj5eust6tjh23eti893u4ea2r5</string>
	<key>API_KEY</key>
	<string>AIzaSyBHToD6lYYiVLMwe3ZXbIRVcPaBDNd_2BA</string>
	<key>GCM_SENDER_ID</key>
	<string>179951568435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.primaryBus</string>
	<key>PROJECT_ID</key>
	<string>primarybus</string>
	<key>STORAGE_BUCKET</key>
	<string>primarybus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179951568435:ios:e51efadf459bdac6244546</string>
</dict>
</plist>